#chat_window{
    height: 75%;
}

#panels_row{
    height: 100%;
}

#message_box{
    height: 85%;
    background-color: bisque;
}

#chat_input{
    height: 5%;

}
#input_message{
    display: flex
}

.active_chats{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.chat_row{
    position: relative;
    height: 10%;
}

.chat_img_thumbnail{
    max-height: 100%;
}

.last_msg{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}
.contact_name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}

.date{
    font-size: 10px;
    text-align: center;

}