body{
  background-color: rgb(234, 230, 223)!important;
}

.d-contents{
  display:contents;
}

.header{
  font-weight: 400;
  font-size: 40px;
  color:#f0ffff;
  text-align: center;
}

.background-jumbo{
  position:fixed;
  top:0;
  z-index: -1;
  height: 150px;
  width: 100%;
  background-color: rgb(0,168,132);
}
#root{
  overflow: auto;
  height: 100%;
}